$helvetica: 'Helvetica Neue', Arial, sans;
$OpenSansCondensed: 'Open Sans Condensed', Arial, sans;
$light: 300;
$regular: 400;
$medium: 500;
$primary: rgb(255,252,0);
$secondary: #02735e;
$white: #fafafa;
$black: #121212;
